# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



# Ignore all node_modules folders
node_modules/

# Ignore dependency lock files in root (optional)
package-lock.json
package.json



